/* Globals and Constants */
:root {
  --ink-black: rgb(51, 51, 51);
  --ruby-red: rgb(206, 10, 10);
  --evening-blue: rgb(10, 10, 206);
  --sky-blue: rgb(135, 206, 250);
  --crown-gold: rgb(218, 165, 32);
  --tiara-silver: rgb(192, 192, 192);
  --ruby-red-alpha: rgba(206, 10, 10, 0.5);
  --evening-blue-alpha: rgba(10, 10, 206, 0.5);
  --sky-blue-alpha: rgba(135, 206, 250, 0.5);
  --crown-gold-alpha: rgba(218, 165, 32, 0.5);
  --tiara-silver-alpha: rgba(192, 192, 192, 0.5);
  --min-width: 800px;
  --content-margin: max(calc(100vw - var(--min-width)) / 2 - 200px, 40px);
  --content-width: calc(100vw - 2 * var(--content-margin));
  --dc-width: 75px;
  --microsoft-yellow: rgb(255,185,0);
  --microsoft-red: rgb(242, 80, 34);
  --microsoft-blue: rgb(0, 164, 239);
  --microsoft-green: rgb(127, 186, 0);
}

@font-face {
  font-family: "pd2022-font-title";
  src: url("LTtilt.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Structural */
.page-div {
  min-width: var(--min-width);
  margin: 20px;
}

.header-div {
  /* Spacing */
  margin-top: 40px;
}

.has-dc {
  background-image: url("comic-dc.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50px;
  right: calc(var(--content-margin) + 40px);
  width: var(--dc-width);
  height: var(--dc-width);
}

.center-img {
  display: block;
  margin: auto;
}

/* Text */
body {
  font-size: 1.4rem;
  font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  /* Text */
  font-family: pd2022-font-title;
  color: var(--ink-black);
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;

  /* Spacing */
  text-align: center;
  padding: 0 calc(var(--content-margin) - 1.5 * var(--dc-width));
  margin: 20px 200px;
}

h1.solution-h1::before {
  content: "✔";
  color: var(--ruby-red);
}

.byline-div {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 18px;
  margin: 10px;
}

.byline-div::before {
  content: "by ";
}

.flavor-div {
  /* Text */
  color: var(--ink-black);
  font-size: 18px;
  font-weight: normal;
  font-style: italic;

  /* Spacing */
  text-align: center;
  margin: 0 100px;
}

.answer-div {
  /* Text */
  color: var(--ruby-red);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  /* Spacing */
  text-align: center;
  margin: 0 100px;
}

.answer-div::before {
  /* Text */
  color: var(--ink-black);
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  content: "Answer: ";
}

.content-div {
  /* Text */
  color: var(--ink-black);
  font-size: 18px;
  font-weight: normal;

  /* Spacing */
  padding: 20px var(--content-margin);
  margin-top: 1em;
  border: 6px solid #000000;
}

.monospace {
  font-family: monospace;
}

.answer-red {
  color: var(--ruby-red);
  text-transform: uppercase;
  font-weight: bold;
}

.answer-blue {
  color: var(--evening-blue);
  text-transform: uppercase;
  font-weight: bold;
}

p {
  margin: 12px 24px;
}

ol,
ul {
  padding: 0;
  margin: 12px 48px;
}

li {
  margin-bottom: 4px;
}

table {
  margin: auto;
  border-collapse: collapse;
  color: inherit;
}

td,
th {
  border: 1px solid var(--ink-black);
}

.help-button {
  width: 200px;
  height: 30px;
  font-size: 18px;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
}
.help-button:hover {
  opacity: 0.5;
}
.help-button:active {
  opacity: 0.8;
}

.online-note {
  font-style: normal;
  font-weight: bold;
  border: solid 3px black;
  padding: 0px 3px 3px 3px;
}

@media screen {
  .print-only {
    display: none;
  }
}
